
<div class="alert alert-info" role="alert" *ngIf="showAlert" style="z-index: 2000;">
    <div class="alert-items">
        <div class="alert-item static">
            <div class="alert-icon-wrapper">
                <cds-icon class="alert-icon" shape="info-circle"></cds-icon>
            </div>
            <span class="alert-text">{{alert_message}}</span>
        </div>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="showAlert=false">
        <cds-icon aria-hidden="true" shape="close" ></cds-icon>
    </button>
</div>
<table style="width: 20%;">
    <tr>
        <td>
            <clr-datagrid [clrDgLoading]="loading"[(clrDgSelected)]="selected">
                <clr-dg-action-bar>
                    <div class="btn-group" *ngIf="selected.length == 0">
                        <button type="button" (click)=showAddNewModal() class="btn btn-sm btn-primary">
                            <clr-icon shape="floppy"></clr-icon>Add
                        </button>
                        </div>
                  <div class="btn-group" *ngIf="selected.length == 1">
                    <button type="button" (click)=editSchedule() class="btn btn-sm btn-primary">
                      <clr-icon shape="floppy"></clr-icon>Edit
                    </button>
                  </div><!-- 
                  <div class="btn-group" *ngIf="selected.length >= 1">
                    <button type="button" (click)=showAddNewModal() class="btn btn-sm btn-danger">
                      <clr-icon shape="floppy"></clr-icon>Remove
                    </button>
                  </div> -->
                </clr-dg-action-bar>
                <clr-dg-column>Date</clr-dg-column>
                <clr-dg-column >Name</clr-dg-column>
              
                <clr-dg-row *clrDgItems="let food_truck_schedule of food_truck_schedules" [clrDgItem]="food_truck_schedule" class='grid_hover'>
                  <clr-dg-cell (click)="clickEdit(food_truck_schedule)" >{{food_truck_schedule.date | date: 'dd-MM-yyyy':'UTC +5:30'}}</clr-dg-cell>
                  <clr-dg-cell  (click)="clickEdit(food_truck_schedule)">{{food_truck_schedule.name}}</clr-dg-cell>
                  </clr-dg-row>
              </clr-datagrid>
            
        </td>
    </tr>
</table>


<clr-modal [(clrModalOpen)]="addNewModal" *ngIf="addNewModal">
  <h3 class="modal-title">Add/Edit Food Truck Schedule</h3>
  <div class="modal-body">
    <table style="width: 20%;" >
        <tr>
            <td><clr-input-container>
                <input placeholder="Name" [(ngModel)]="food_truck_schedule.name" clrInput name="Name" required />
                <clr-control-helper>Name</clr-control-helper>
              </clr-input-container></td>
        </tr>
        <tr>
            <td>
                <clr-date-container>
                    <input type="date"  [(ngModel)]="food_truck_schedule.date" clrDate name="schedule_date">
                    <clr-control-helper>Date</clr-control-helper>
                  </clr-date-container>
                  
            </td>
            <td>
    
            </td>
        </tr>
    </table>
    
  </div>
  <div class="modal-footer">
    <button class="btn  btn-outline" (click)="addSchedule()"> Save</button>
    <button type="button" class="btn btn-outline" (click)=close()>Close</button>
  </div>
</clr-modal>
