<header class="header-6">
    <div class="branding" style="margin-top: 20px;">
        Food Truck
    </div>

    <div class="header-nav">
        <a routerLink="/todays-food" routerLinkActive="active" class="nav-link nav-text">Today's Food</a>
      </div> 
      <div class="header-nav">
        <a  routerLink="/food-truck-manager" routerLinkActive="active" class=" nav-link nav-text">Food Truck Manager</a>
      </div>
</header>
