<span *ngFor="let schedule of food_truck_schedules" style="display:inline-block;padding:20px"  class='tile'>
    <div class="fh5co-project"  style="margin-bottom: 0px;border-radius: 8px;text-align: center;">
        <a>
        <img style="width:300px;height:290px;padding-bottom: 10px;" src='/assets/food.jpg'><br>
        <label  style="font-size: medium;padding-top:20px;color:#549ba2;font-size: 20px;">{{schedule.name}}</label> <br> 
    </a>
    </div>
</span>